
body {
  background-color: darkslategray;
}

#err {
  display: none;
}

body.invalid #err {
  display: inline;
}

.drawing-area {
  width: 480px;
  height: 480px;
  background-color: green
}

canvas {
  width: 100%;
  height: 100%;
//  background-color: green
}

svg {
  background-color: green
}

label span {
  color: ivory;
  font-family: Helvetica Neue, Helvetica, Arial;
}